In [1]:
import numpy as np
import pandas as pd

In [3]:
# Read the Retail dataset with header information
infile = "C:\\Users\\SONY\\Pandas Project\\Retail.csv"
retail_df = pd.read_csv(infile, delimiter = ",")
retail_df

,Region,Product,Subsidiary,Stores,Sales,Inventory,Returns
0,Africa,Boot,Addis Ababa,12,29761.0,191821.0,769.0
1,Africa,Men's Casual,Addis Ababa,4,67242.0,118036.0,2284.0
2,Africa,Men's Dress,Addis Ababa,7,76793.0,136273.0,2433.0
3,Africa,Sandal,Addis Ababa,10,62819.0,204284.0,1861.0
4,Africa,Slipper,Addis Ababa,14,68641.0,279795.0,1771.0
5,Africa,Sport Shoe,Addis Ababa,4,1690.0,16634.0,79.0
6,Africa,Women's Casual,Addis Ababa,2,51541.0,98641.0,940.0
7,Africa,Women's Dress,Addis Ababa,12,108942.0,311017.0,3233.0
8,Africa,Boot,Algiers,21,21297.0,73737.0,710.0
9,Africa,Men's Casual,Algiers,4,63206.0,100982.0,2221.0
10,Africa,Men's Dress,Algiers,13,123743.0,428575.0,3621.0
11,Africa,Sandal,Algiers,25,29198.0,84447.0,1530.0
12,Africa,Slipper,Algiers,17,64891.0,248198.0,1823.0
13,Africa,Sport Shoe,Algiers,9,2617.0,9372.0,168.0
14,Africa,Women's Dress,Algiers,12,90648.0,266805.0,2690.0
15,Africa,Boot,Cairo,20,4846.0,18965.0,229.0
16,Africa,Men's Casual,Cairo,25,360209.0,1063251.0,9424.0
17,Africa,Men's Dress,Cairo,5,4051.0,45962.0,97.0
18,Africa,Sandal,Cairo,9,10532.0,50430.0,598.0
19,Africa,Slipper,Cairo,9,13732.0,54117.0,1216.0
20,Africa,Sport Shoe,Cairo,3,2259.0,20815.0,44.0
21,Africa,Women's Casual,Cairo,14,328474.0,940851.0,10124.0
22,Africa,Women's Dress,Cairo,3,14095.0,51145.0,745.0
23,Africa,Boot,Johannesburg,14,8365.0,33011.0,483.0
24,Africa,Sandal,Johannesburg,13,17337.0,63003.0,809.0
25,Africa,Slipper,Johannesburg,12,39452.0,130025.0,1565.0
26,Africa,Sport Shoe,Johannesburg,8,5172.0,29368.0,139.0
27,Africa,Women's Dress,Johannesburg,4,42682.0,120127.0,966.0
28,Africa,Boot,Khartoum,24,19282.0,105370.0,700.0
29,Africa,Men's Casual,Khartoum,1,9244.0,16230.0,478.0
...,...,...,...,...,...,...,...
365,Western Europe,Boot,London,31,54449.0,289527.0,2321.0
366,Western Europe,Men's Casual,London,13,151402.0,401374.0,7159.0
367,Western Europe,Men's Dress,London,13,151458.0,446963.0,4870.0
368,Western Europe,Sandal,London,2,5217.0,11111.0,24.0
369,Western Europe,Slipper,London,14,172002.0,625925.0,5620.0
370,Western Europe,Sport Shoe,London,10,9165.0,42239.0,354.0
371,Western Europe,Women's Casual,London,5,68962.0,162447.0,1978.0
372,Western Europe,Women's Dress,London,25,149354.0,527226.0,5084.0
373,Western Europe,Boot,Madrid,1,1179.0,1027.0,93.0
374,Western Europe,Men's Casual,Madrid,4,71014.0,59011.0,3784.0
375,Western Europe,Men's Dress,Madrid,4,54791.0,181739.0,1468.0
376,Western Europe,Slipper,Madrid,4,12127.0,10234.0,500.0
377,Western Europe,Women's Casual,Madrid,3,50146.0,113870.0,1216.0
378,Western Europe,Women's Dress,Madrid,1,11385.0,59192.0,273.0
379,Western Europe,Boot,Paris,15,19196.0,41506.0,1006.0
380,Western Europe,Men's Casual,Paris,5,89416.0,156288.0,3863.0
381,Western Europe,Men's Dress,Paris,16,203532.0,421109.0,5722.0
382,Western Europe,Sandal,Paris,3,1520.0,23816.0,60.0
383,Western Europe,Slipper,Paris,19,90975.0,251927.0,2372.0
384,Western Europe,Sport Shoe,Paris,4,3449.0,28588.0,186.0
385,Western Europe,Women's Casual,Paris,5,91243.0,184365.0,2388.0
386,Western Europe,Women's Dress,Paris,19,122546.0,362247.0,3727.0
387,Western Europe,Boot,Rome,23,36244.0,209271.0,1455.0
388,Western Europe,Men's Casual,Rome,2,37271.0,91670.0,1761.0
389,Western Europe,Men's Dress,Rome,2,28249.0,69058.0,651.0
390,Western Europe,Sandal,Rome,3,1249.0,4611.0,48.0
391,Western Europe,Slipper,Rome,13,42442.0,132283.0,1829.0
392,Western Europe,Sport Shoe,Rome,14,9969.0,74848.0,549.0
393,Western Europe,Women's Casual,Rome,2,19964.0,62256.0,954.0
394,Western Europe,Women's Dress,Rome,16,106676.0,389861.0,3160.0

In [4]:
# Read the Retail India dataset with header information
infile = "C:\\Users\\SONY\\Pandas Project\\Retail_India.csv"
retail_india_df = pd.read_csv(infile, delimiter = ",")
retail_india_df

  Region         Product Subsidiary  Stores  Sales  Inventory  Returns
0   Asia            Boot      India       1   1996       9576       80
1   Asia     Men's Dress      India       1   3033      20831       52
2   Asia          Sandal      India       1   3230      15087      120
3   Asia         Slipper      India       1   3019      16075      127
4   Asia  Women's Casual      India       1   5389      16251      185

In [5]:
# Append the Retail India Products to main dataframe
retail_df = retail_df.append(retail_india_df).reset_index(drop = True)
retail_df

,Region,Product,Subsidiary,Stores,Sales,Inventory,Returns
0,Africa,Boot,Addis Ababa,12,29761.0,191821.0,769.0
1,Africa,Men's Casual,Addis Ababa,4,67242.0,118036.0,2284.0
2,Africa,Men's Dress,Addis Ababa,7,76793.0,136273.0,2433.0
3,Africa,Sandal,Addis Ababa,10,62819.0,204284.0,1861.0
4,Africa,Slipper,Addis Ababa,14,68641.0,279795.0,1771.0
5,Africa,Sport Shoe,Addis Ababa,4,1690.0,16634.0,79.0
6,Africa,Women's Casual,Addis Ababa,2,51541.0,98641.0,940.0
7,Africa,Women's Dress,Addis Ababa,12,108942.0,311017.0,3233.0
8,Africa,Boot,Algiers,21,21297.0,73737.0,710.0
9,Africa,Men's Casual,Algiers,4,63206.0,100982.0,2221.0
10,Africa,Men's Dress,Algiers,13,123743.0,428575.0,3621.0
11,Africa,Sandal,Algiers,25,29198.0,84447.0,1530.0
12,Africa,Slipper,Algiers,17,64891.0,248198.0,1823.0
13,Africa,Sport Shoe,Algiers,9,2617.0,9372.0,168.0
14,Africa,Women's Dress,Algiers,12,90648.0,266805.0,2690.0
15,Africa,Boot,Cairo,20,4846.0,18965.0,229.0
16,Africa,Men's Casual,Cairo,25,360209.0,1063251.0,9424.0
17,Africa,Men's Dress,Cairo,5,4051.0,45962.0,97.0
18,Africa,Sandal,Cairo,9,10532.0,50430.0,598.0
19,Africa,Slipper,Cairo,9,13732.0,54117.0,1216.0
20,Africa,Sport Shoe,Cairo,3,2259.0,20815.0,44.0
21,Africa,Women's Casual,Cairo,14,328474.0,940851.0,10124.0
22,Africa,Women's Dress,Cairo,3,14095.0,51145.0,745.0
23,Africa,Boot,Johannesburg,14,8365.0,33011.0,483.0
24,Africa,Sandal,Johannesburg,13,17337.0,63003.0,809.0
25,Africa,Slipper,Johannesburg,12,39452.0,130025.0,1565.0
26,Africa,Sport Shoe,Johannesburg,8,5172.0,29368.0,139.0
27,Africa,Women's Dress,Johannesburg,4,42682.0,120127.0,966.0
28,Africa,Boot,Khartoum,24,19282.0,105370.0,700.0
29,Africa,Men's Casual,Khartoum,1,9244.0,16230.0,478.0
...,...,...,...,...,...,...,...
370,Western Europe,Sport Shoe,London,10,9165.0,42239.0,354.0
371,Western Europe,Women's Casual,London,5,68962.0,162447.0,1978.0
372,Western Europe,Women's Dress,London,25,149354.0,527226.0,5084.0
373,Western Europe,Boot,Madrid,1,1179.0,1027.0,93.0
374,Western Europe,Men's Casual,Madrid,4,71014.0,59011.0,3784.0
375,Western Europe,Men's Dress,Madrid,4,54791.0,181739.0,1468.0
376,Western Europe,Slipper,Madrid,4,12127.0,10234.0,500.0
377,Western Europe,Women's Casual,Madrid,3,50146.0,113870.0,1216.0
378,Western Europe,Women's Dress,Madrid,1,11385.0,59192.0,273.0
379,Western Europe,Boot,Paris,15,19196.0,41506.0,1006.0
380,Western Europe,Men's Casual,Paris,5,89416.0,156288.0,3863.0
381,Western Europe,Men's Dress,Paris,16,203532.0,421109.0,5722.0
382,Western Europe,Sandal,Paris,3,1520.0,23816.0,60.0
383,Western Europe,Slipper,Paris,19,90975.0,251927.0,2372.0
384,Western Europe,Sport Shoe,Paris,4,3449.0,28588.0,186.0
385,Western Europe,Women's Casual,Paris,5,91243.0,184365.0,2388.0
386,Western Europe,Women's Dress,Paris,19,122546.0,362247.0,3727.0
387,Western Europe,Boot,Rome,23,36244.0,209271.0,1455.0
388,Western Europe,Men's Casual,Rome,2,37271.0,91670.0,1761.0
389,Western Europe,Men's Dress,Rome,2,28249.0,69058.0,651.0
390,Western Europe,Sandal,Rome,3,1249.0,4611.0,48.0
391,Western Europe,Slipper,Rome,13,42442.0,132283.0,1829.0
392,Western Europe,Sport Shoe,Rome,14,9969.0,74848.0,549.0
393,Western Europe,Women's Casual,Rome,2,19964.0,62256.0,954.0
394,Western Europe,Women's Dress,Rome,16,106676.0,389861.0,3160.0
395,Asia,Boot,India,1,1996.0,9576.0,80.0
396,Asia,Men's Dress,India,1,3033.0,20831.0,52.0
397,Asia,Sandal,India,1,3230.0,15087.0,120.0
398,Asia,Slipper,India,1,3019.0,16075.0,127.0
399,Asia,Women's Casual,India,1,5389.0,16251.0,185.0

In [6]:
# Get the Standard Deviation and Mean of Sales across all regions
groupby_vars = ["Region"]
retail_stat = pd.DataFrame(retail_df.groupby(groupby_vars).Sales.sum())
retail_stat['Standard Deviation of Sales'] = pd.DataFrame(retail_df.groupby(groupby_vars).Sales.std())
retail_stat["Mean of Sales"] = pd.DataFrame(retail_df.groupby(groupby_vars).Sales.mean())
retail_stat = retail_stat.rename(columns = {'Sales':'Total Sales'})
retail_stat.sort_values(by = ['Standard Deviation of Sales'], ascending = False).round(2)

,Total Sales,Standard Deviation of Sales,Mean of Sales
Region,,,
Middle East,5631779.0,274458.02,234657.46
Canada,4255712.0,205923.37,115019.24
Central America/Caribbean,3657753.0,137309.25,114304.78
United States,5503986.0,116442.77,137599.65
Western Europe,4873000.0,87787.98,78596.77
Pacific,2296794.0,73400.53,51039.87
Africa,2342588.0,65180.31,41831.93
Eastern Europe,2394940.0,61066.23,77256.13
South America,2434783.0,47143.78,45088.57
Asia,476898.0,43640.88,25099.89

In [7]:
# Get CV across all regions
# CV = (STD / Mean)*100
retail_stat["CV of Sales"] = (retail_stat["Standard Deviation of Sales"] / retail_stat["Mean of Sales"]) * 100
retail_stat.sort_values(by = ['CV of Sales'], ascending = False).round(2)

,Total Sales,Standard Deviation of Sales,Mean of Sales,CV of Sales
Region,,,,
Canada,4255712.0,205923.37,115019.24,179.03
Asia,476898.0,43640.88,25099.89,173.87
Africa,2342588.0,65180.31,41831.93,155.81
Pacific,2296794.0,73400.53,51039.87,143.81
Central America/Caribbean,3657753.0,137309.25,114304.78,120.13
Middle East,5631779.0,274458.02,234657.46,116.96
Western Europe,4873000.0,87787.98,78596.77,111.69
South America,2434783.0,47143.78,45088.57,104.56
United States,5503986.0,116442.77,137599.65,84.62
Eastern Europe,2394940.0,61066.23,77256.13,79.04

In [8]:
# Get the desprictive statistics for all the variables from retail dataframe
retail_desc_stat = pd.DataFrame(retail_df.describe())
retail_desc_stat = retail_desc_stat.drop("Stores", axis = 1)
retail_desc_stat = retail_desc_stat.transpose()
retail_desc_stat = retail_desc_stat.rename(columns = {'count':'N', 'mean':'Mean', 'std':'STD', 
                                                      'min':'MIN', 'max':'MAX', '25%':'Q1', '50%':'Q2', '75%':'Q3'})
retail_desc_stat.round(2)

,N,Mean,STD,MIN,Q1,Q2,Q3,MAX
Sales,400.0,84670.58,128622.57,325.0,14789.50,38005.5,107233.5,1298717.0
Inventory,400.0,247957.18,350285.07,374.0,41045.25,118149.0,332095.0,2881005.0
Returns,400.0,2931.64,4593.75,10.0,542.50,1407.0,3571.5,57362.0

In [9]:
# Hyphothesis Testing

# One Sample T-test on Pandas dataframe

from scipy import stats

population_mean = 80000 # Null Hyphothesis

mean_sales = pd.Series(retail_desc_stat[:1].Mean.round(2))
mean_sales = mean_sales.get(key = 'Sales')

alpha = 0.5 # Type 1 Error Rate or Level of significance

sales_t_test = pd.DataFrame(stats.ttest_1samp(retail_df.Sales,population_mean), index = ["T_Value","P_Value"]).transpose()
sales_t_test["Alpha_Value"] = alpha
sales_t_test["Sample_Mean"] = mean_sales
sales_t_test["Population_Mean"] = population_mean
sales_t_test = sales_t_test.rename(index = {0:'Sales'})
sales_t_test = sales_t_test.reindex(columns = ['Population_Mean','Sample_Mean','T_Value','Alpha_Value','P_Value'])
sales_t_test["Decision"] = np.where(sales_t_test['P_Value'] < sales_t_test['Alpha_Value'],"Reject","Fail to Reject")
sales_t_test.round(2)

       Population_Mean  Sample_Mean  T_Value  Alpha_Value  P_Value Decision
Sales            80000     84670.58     0.73          0.5     0.47   Reject

In [11]:
# Two Sample T-test on Pandas Dataframe
# Check whether population mean of Africa and Pacific are different

Africa_Sales_Variance = Pacific_Sales_Variance 
Africa_Sales_Variance != Pacific_Sales_Variance
f stat
p value for f stat
alpha
Equal variance

Africa_sales = Pacific_Sales
Africa_sales != Pacific_Sales
Equal Variance T test
T stat
p value for T stat
alpha


#-------------------------------------------------------------
# Step 1: Check for the equality variance between two groups
#-------------------------------------------------------------
Africa_Sales = retail_df[retail_df.Region == "Africa"].Sales
Pacific_Sales = retail_df[retail_df.Region == "Pacific"].Sales

F = np.var(Africa_Sales) / np.var(Pacific_Sales)
alpha = 0.05
df1 = len(Africa_Sales-1)
df2 = len(Pacific_Sales-1)
f_p_value = stats.f.cdf(F, df1, df2)
# print("F_Value: ", F, "Alpha: ", alpha, "F_P_VALUE: ", f_p_value)

#-------------------------------------------------------------
# Step 2: Perform T-test for difference between two groups
#-------------------------------------------------------------
if f_p_value > alpha:
    t_value,t_p_value = stats.ttest_ind(Africa_Sales,Pacific_Sales,equal_var = True)
    data = {"Description":"Africa - Pacific", "T test type": "Pooled Variance",
            "T Value":t_value, "Alpha":alpha, "P Value":t_p_value}
    two_samp_t_test = pd.DataFrame(data,index = ["Sales"])
    two_samp_t_test["Decision"] = np.where(two_samp_t_test["P Value"] < alpha, "Reject", "Do not reject")
    
else:    
    t_value,t_p_value = stats.ttest_ind(Africa_Sales,Pacific_Sales,equal_var = False)
    data = {"Description":"Africa - Pacific", "T test type": "Separate Variance",
            "T Value":t_value, "Alpha":alpha, "P Value":t_p_value}
    two_samp_t_test = pd.DataFrame(data,index = ["Sales"])
    two_samp_t_test["Decision"] = np.where(two_samp_t_test["P Value"] < alpha, "Reject", "Do not reject")
    
two_samp_t_test.round(2)

,Description,T test type,T Value,Alpha,P Value,Decision
Sales,Africa - Pacific,Pooled Variance,-0.67,0.05,0.51,Do not reject

In [ ]:
def hyppthesis_testing(analysis_var,n_samples,samp1,samp2):
    .......
    return

hyppthesis_testing(analysis_var = "Sales", n_samples = 2,samp1 = Africa, Samp2 = Pacific)
hyppthesis_testing(analysis_var = "Sales", n_samples = 1,samp1 = , Samp2 = )