In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read the Retail dataset with header information
infile = "C:\\Users\\SONY\\Pandas Project\\Retail.csv"
retail_df = pd.read_csv(infile, delimiter = ",")
retail_df

,Region,Product,Subsidiary,Stores,Sales,Inventory,Returns
0,Africa,Boot,Addis Ababa,12,29761.0,191821.0,769.0
1,Africa,Men's Casual,Addis Ababa,4,67242.0,118036.0,2284.0
2,Africa,Men's Dress,Addis Ababa,7,76793.0,136273.0,2433.0
3,Africa,Sandal,Addis Ababa,10,62819.0,204284.0,1861.0
4,Africa,Slipper,Addis Ababa,14,68641.0,279795.0,1771.0
5,Africa,Sport Shoe,Addis Ababa,4,1690.0,16634.0,79.0
6,Africa,Women's Casual,Addis Ababa,2,51541.0,98641.0,940.0
7,Africa,Women's Dress,Addis Ababa,12,108942.0,311017.0,3233.0
8,Africa,Boot,Algiers,21,21297.0,73737.0,710.0
9,Africa,Men's Casual,Algiers,4,63206.0,100982.0,2221.0
10,Africa,Men's Dress,Algiers,13,123743.0,428575.0,3621.0
11,Africa,Sandal,Algiers,25,29198.0,84447.0,1530.0
12,Africa,Slipper,Algiers,17,64891.0,248198.0,1823.0
13,Africa,Sport Shoe,Algiers,9,2617.0,9372.0,168.0
14,Africa,Women's Dress,Algiers,12,90648.0,266805.0,2690.0
15,Africa,Boot,Cairo,20,4846.0,18965.0,229.0
16,Africa,Men's Casual,Cairo,25,360209.0,1063251.0,9424.0
17,Africa,Men's Dress,Cairo,5,4051.0,45962.0,97.0
18,Africa,Sandal,Cairo,9,10532.0,50430.0,598.0
19,Africa,Slipper,Cairo,9,13732.0,54117.0,1216.0
20,Africa,Sport Shoe,Cairo,3,2259.0,20815.0,44.0
21,Africa,Women's Casual,Cairo,14,328474.0,940851.0,10124.0
22,Africa,Women's Dress,Cairo,3,14095.0,51145.0,745.0
23,Africa,Boot,Johannesburg,14,8365.0,33011.0,483.0
24,Africa,Sandal,Johannesburg,13,17337.0,63003.0,809.0
25,Africa,Slipper,Johannesburg,12,39452.0,130025.0,1565.0
26,Africa,Sport Shoe,Johannesburg,8,5172.0,29368.0,139.0
27,Africa,Women's Dress,Johannesburg,4,42682.0,120127.0,966.0
28,Africa,Boot,Khartoum,24,19282.0,105370.0,700.0
29,Africa,Men's Casual,Khartoum,1,9244.0,16230.0,478.0
...,...,...,...,...,...,...,...
365,Western Europe,Boot,London,31,54449.0,289527.0,2321.0
366,Western Europe,Men's Casual,London,13,151402.0,401374.0,7159.0
367,Western Europe,Men's Dress,London,13,151458.0,446963.0,4870.0
368,Western Europe,Sandal,London,2,5217.0,11111.0,24.0
369,Western Europe,Slipper,London,14,172002.0,625925.0,5620.0
370,Western Europe,Sport Shoe,London,10,9165.0,42239.0,354.0
371,Western Europe,Women's Casual,London,5,68962.0,162447.0,1978.0
372,Western Europe,Women's Dress,London,25,149354.0,527226.0,5084.0
373,Western Europe,Boot,Madrid,1,1179.0,1027.0,93.0
374,Western Europe,Men's Casual,Madrid,4,71014.0,59011.0,3784.0
375,Western Europe,Men's Dress,Madrid,4,54791.0,181739.0,1468.0
376,Western Europe,Slipper,Madrid,4,12127.0,10234.0,500.0
377,Western Europe,Women's Casual,Madrid,3,50146.0,113870.0,1216.0
378,Western Europe,Women's Dress,Madrid,1,11385.0,59192.0,273.0
379,Western Europe,Boot,Paris,15,19196.0,41506.0,1006.0
380,Western Europe,Men's Casual,Paris,5,89416.0,156288.0,3863.0
381,Western Europe,Men's Dress,Paris,16,203532.0,421109.0,5722.0
382,Western Europe,Sandal,Paris,3,1520.0,23816.0,60.0
383,Western Europe,Slipper,Paris,19,90975.0,251927.0,2372.0
384,Western Europe,Sport Shoe,Paris,4,3449.0,28588.0,186.0
385,Western Europe,Women's Casual,Paris,5,91243.0,184365.0,2388.0
386,Western Europe,Women's Dress,Paris,19,122546.0,362247.0,3727.0
387,Western Europe,Boot,Rome,23,36244.0,209271.0,1455.0
388,Western Europe,Men's Casual,Rome,2,37271.0,91670.0,1761.0
389,Western Europe,Men's Dress,Rome,2,28249.0,69058.0,651.0
390,Western Europe,Sandal,Rome,3,1249.0,4611.0,48.0
391,Western Europe,Slipper,Rome,13,42442.0,132283.0,1829.0
392,Western Europe,Sport Shoe,Rome,14,9969.0,74848.0,549.0
393,Western Europe,Women's Casual,Rome,2,19964.0,62256.0,954.0
394,Western Europe,Women's Dress,Rome,16,106676.0,389861.0,3160.0

In [3]:
# Read the Retail dataset without header
infile = "C:\\Users\\SONY\\Pandas Project\\Retail_Without_Header.csv"
col_names = ["Region", "Product", "Subsidiary", "Stores", "Sales", "Inventory", "Returns"]
retail_df1 = pd.read_csv(infile, delimiter = ",", names = col_names)
retail_df1

,Region,Product,Subsidiary,Stores,Sales,Inventory,Returns
0,Africa,Boot,Addis Ababa,12,29761.0,191821.0,769.0
1,Africa,Men's Casual,Addis Ababa,4,67242.0,118036.0,2284.0
2,Africa,Men's Dress,Addis Ababa,7,76793.0,136273.0,2433.0
3,Africa,Sandal,Addis Ababa,10,62819.0,204284.0,1861.0
4,Africa,Slipper,Addis Ababa,14,68641.0,279795.0,1771.0
5,Africa,Sport Shoe,Addis Ababa,4,1690.0,16634.0,79.0
6,Africa,Women's Casual,Addis Ababa,2,51541.0,98641.0,940.0
7,Africa,Women's Dress,Addis Ababa,12,108942.0,311017.0,3233.0
8,Africa,Boot,Algiers,21,21297.0,73737.0,710.0
9,Africa,Men's Casual,Algiers,4,63206.0,100982.0,2221.0
10,Africa,Men's Dress,Algiers,13,123743.0,428575.0,3621.0
11,Africa,Sandal,Algiers,25,29198.0,84447.0,1530.0
12,Africa,Slipper,Algiers,17,64891.0,248198.0,1823.0
13,Africa,Sport Shoe,Algiers,9,2617.0,9372.0,168.0
14,Africa,Women's Dress,Algiers,12,90648.0,266805.0,2690.0
15,Africa,Boot,Cairo,20,4846.0,18965.0,229.0
16,Africa,Men's Casual,Cairo,25,360209.0,1063251.0,9424.0
17,Africa,Men's Dress,Cairo,5,4051.0,45962.0,97.0
18,Africa,Sandal,Cairo,9,10532.0,50430.0,598.0
19,Africa,Slipper,Cairo,9,13732.0,54117.0,1216.0
20,Africa,Sport Shoe,Cairo,3,2259.0,20815.0,44.0
21,Africa,Women's Casual,Cairo,14,328474.0,940851.0,10124.0
22,Africa,Women's Dress,Cairo,3,14095.0,51145.0,745.0
23,Africa,Boot,Johannesburg,14,8365.0,33011.0,483.0
24,Africa,Sandal,Johannesburg,13,17337.0,63003.0,809.0
25,Africa,Slipper,Johannesburg,12,39452.0,130025.0,1565.0
26,Africa,Sport Shoe,Johannesburg,8,5172.0,29368.0,139.0
27,Africa,Women's Dress,Johannesburg,4,42682.0,120127.0,966.0
28,Africa,Boot,Khartoum,24,19282.0,105370.0,700.0
29,Africa,Men's Casual,Khartoum,1,9244.0,16230.0,478.0
...,...,...,...,...,...,...,...
365,Western Europe,Boot,London,31,54449.0,289527.0,2321.0
366,Western Europe,Men's Casual,London,13,151402.0,401374.0,7159.0
367,Western Europe,Men's Dress,London,13,151458.0,446963.0,4870.0
368,Western Europe,Sandal,London,2,5217.0,11111.0,24.0
369,Western Europe,Slipper,London,14,172002.0,625925.0,5620.0
370,Western Europe,Sport Shoe,London,10,9165.0,42239.0,354.0
371,Western Europe,Women's Casual,London,5,68962.0,162447.0,1978.0
372,Western Europe,Women's Dress,London,25,149354.0,527226.0,5084.0
373,Western Europe,Boot,Madrid,1,1179.0,1027.0,93.0
374,Western Europe,Men's Casual,Madrid,4,71014.0,59011.0,3784.0
375,Western Europe,Men's Dress,Madrid,4,54791.0,181739.0,1468.0
376,Western Europe,Slipper,Madrid,4,12127.0,10234.0,500.0
377,Western Europe,Women's Casual,Madrid,3,50146.0,113870.0,1216.0
378,Western Europe,Women's Dress,Madrid,1,11385.0,59192.0,273.0
379,Western Europe,Boot,Paris,15,19196.0,41506.0,1006.0
380,Western Europe,Men's Casual,Paris,5,89416.0,156288.0,3863.0
381,Western Europe,Men's Dress,Paris,16,203532.0,421109.0,5722.0
382,Western Europe,Sandal,Paris,3,1520.0,23816.0,60.0
383,Western Europe,Slipper,Paris,19,90975.0,251927.0,2372.0
384,Western Europe,Sport Shoe,Paris,4,3449.0,28588.0,186.0
385,Western Europe,Women's Casual,Paris,5,91243.0,184365.0,2388.0
386,Western Europe,Women's Dress,Paris,19,122546.0,362247.0,3727.0
387,Western Europe,Boot,Rome,23,36244.0,209271.0,1455.0
388,Western Europe,Men's Casual,Rome,2,37271.0,91670.0,1761.0
389,Western Europe,Men's Dress,Rome,2,28249.0,69058.0,651.0
390,Western Europe,Sandal,Rome,3,1249.0,4611.0,48.0
391,Western Europe,Slipper,Rome,13,42442.0,132283.0,1829.0
392,Western Europe,Sport Shoe,Rome,14,9969.0,74848.0,549.0
393,Western Europe,Women's Casual,Rome,2,19964.0,62256.0,954.0
394,Western Europe,Women's Dress,Rome,16,106676.0,389861.0,3160.0

In [4]:
# Display first 5 products
retail_df.head()

   Region       Product   Subsidiary  Stores    Sales  Inventory  Returns
0  Africa          Boot  Addis Ababa      12  29761.0   191821.0    769.0
1  Africa  Men's Casual  Addis Ababa       4  67242.0   118036.0   2284.0
2  Africa   Men's Dress  Addis Ababa       7  76793.0   136273.0   2433.0
3  Africa        Sandal  Addis Ababa      10  62819.0   204284.0   1861.0
4  Africa       Slipper  Addis Ababa      14  68641.0   279795.0   1771.0

In [5]:
# Display last 5 products 
retail_df.tail()

,Region,Product,Subsidiary,Stores,Sales,Inventory,Returns
390,Western Europe,Sandal,Rome,3,1249.0,4611.0,48.0
391,Western Europe,Slipper,Rome,13,42442.0,132283.0,1829.0
392,Western Europe,Sport Shoe,Rome,14,9969.0,74848.0,549.0
393,Western Europe,Women's Casual,Rome,2,19964.0,62256.0,954.0
394,Western Europe,Women's Dress,Rome,16,106676.0,389861.0,3160.0

In [6]:
# Take a random sample of 10 products
prod_sample = retail_df.sample(10)
prod_sample

,Region,Product,Subsidiary,Stores,Sales,Inventory,Returns
344,Western Europe,Sandal,Geneva,3,736.0,3529.0,51.0
127,Central America/Caribbean,Slipper,Mexico City,31,96113.0,340122.0,4028.0
366,Western Europe,Men's Casual,London,13,151402.0,401374.0,7159.0
379,Western Europe,Boot,Paris,15,19196.0,41506.0,1006.0
254,South America,Boot,Caracas,13,63697.0,307509.0,2731.0
311,United States,Men's Dress,Minneapolis,22,235842.0,623645.0,7344.0
242,South America,Sandal,Bogota,16,22712.0,62856.0,1292.0
131,Central America/Caribbean,Boot,San Juan,31,32892.0,135309.0,1504.0
357,Western Europe,Boot,Lisbon,18,76349.0,341911.0,3290.0
333,Western Europe,Boot,Copenhagen,2,1663.0,4657.0,129.0

In [7]:
# Get the top 5 products in terms of returns for region/subsidairy/stores
by_vars = ["Returns"]
returns = retail_df.sort_values(by = by_vars, ascending = False)[["Region", "Product", "Subsidiary", "Stores", "Returns"]]
returns.head()

                        Region        Product Subsidiary  Stores  Returns
187                Middle East   Men's Casual   Tel Aviv      11  57362.0
103                     Canada        Slipper  Vancouver      27  21247.0
100                     Canada   Men's Casual  Vancouver      25  20470.0
108  Central America/Caribbean   Men's Casual   Kingston      28  20005.0
106                     Canada  Women's Dress  Vancouver      21  19378.0

In [8]:
# Analyze the products with returns greater than 20000 across region/subsidairy/stores
returns = returns[returns.Returns > 20000.00]
returns

                        Region       Product Subsidiary  Stores  Returns
187                Middle East  Men's Casual   Tel Aviv      11  57362.0
103                     Canada       Slipper  Vancouver      27  21247.0
100                     Canada  Men's Casual  Vancouver      25  20470.0
108  Central America/Caribbean  Men's Casual   Kingston      28  20005.0

In [9]:
# Calculate the total sales, total returns and total inventory across region/subsidairy
groupby_vars = ["Region", "Subsidiary"]
retail_aggr = retail_df.groupby(groupby_vars).sum()
retail_aggr["mean_sales"] = retail_df.groupby(groupby_vars).mean().Sales
retail_aggr["mean_inventory"] = retail_df.groupby(groupby_vars).mean().Inventory
retail_aggr["mean_returns"] = retail_df.groupby(groupby_vars).mean().Returns
retail_aggr["total_stores"] = retail_df.groupby(groupby_vars).count().Stores
retail_aggr.round(2)

                                        Stores      Sales  Inventory  \
Region                    Subsidiary
Africa                    Addis Ababa       65   467429.0  1356501.0
                          Algiers          101   395600.0  1212116.0
                          Cairo             88   738198.0  2245536.0
                          Johannesburg      51   113008.0   375534.0
                          Khartoum          71   186592.0   588019.0
                          Kinshasa          56   196816.0   591284.0
                          Luanda            30   138115.0   436277.0
                          Nairobi           70   106830.0   295806.0
Asia                      Bangkok            5    16667.0    77820.0
                          Seoul             59   442409.0  1082717.0
                          Tokyo              1     1155.0    15602.0
Canada                    Calgary           29    61403.0   259578.0
                          Montreal         115   531028.0  1997465.0
                          Ottawa            29   115741.0   294163.0
                          Toronto           76   319772.0  1042519.0
                          Vancouver        193  3227768.0  9516984.0
Central America/Caribbean Kingston         218  2235204.0  5859938.0
                          Managua          113   414806.0  1164674.0
                          Mexico City      103   368588.0  1116181.0
                          San Juan         105   639155.0  2033085.0
Eastern Europe            Budapest          85   410529.0  1371968.0
                          Moscow            87   560976.0  1827680.0
                          Prague            96   636721.0  2074414.0
                          Warsaw           111   786714.0  2678409.0
Middle East               Al-Khobar        110  1153667.0  2648670.0
                          Dubai            153  1910544.0  5036871.0
                          Tel Aviv         134  2567568.0  6523208.0
Pacific                   Auckland          37   124424.0   468154.0
                          Canberra          50   155547.0   926734.0
                          Jakarta           84   649044.0  2040119.0
                          Kuala Lumpur      64   373130.0  1367248.0
                          Manila           103   854904.0  2713076.0
                          Singapore         18   139745.0   455960.0
South America             Bogota            89   206234.0   422355.0
                          Buenos Aires      66   118283.0   240955.0
                          Caracas          123   789323.0  2139386.0
                          La Paz           116   530506.0  1115479.0
                          Montevideo        96   318646.0   849036.0
                          Santiago          58   104956.0   236639.0
                          Sao Paulo         84   366835.0   982244.0
United States             Chicago          150  1565585.0  4331155.0
                          Los Angeles       92   737312.0  2230790.0
                          Minneapolis      141  1099937.0  3488596.0
                          New York         131  1489207.0  4816974.0
                          Seattle          103   611945.0  1714882.0
Western Europe            Copenhagen        52   693116.0  1718421.0
                          Geneva            95   447208.0  1499989.0
                          Heidelberg       105   967739.0  3356342.0
                          Lisbon            99   898345.0  2831909.0
                          London           113   762009.0  2506812.0
                          Madrid            17   200642.0   425073.0
                          Paris             86   621877.0  1469846.0
                          Rome              75   282064.0  1033858.0

                                         Returns  mean_sales  mean_inventory  \
Region                    Subsidiary
Africa                    Addis Ababa    13370.0    58428.62       169562.62
                          Algiers        12763.0    56514.29       173159.43
                          Cairo          22477.0    92274.75       280692.00
                          Johannesburg    3962.0    22601.60        75106.80
                          Khartoum        7051.0    23324.00        73502.38
                          Kinshasa        5582.0    28116.57        84469.14
                          Luanda          4328.0    19730.71        62325.29
                          Nairobi         4554.0    17805.00        49301.00
Asia                      Bangkok          564.0     3333.40        15564.00
                          Seoul          10309.0    55301.12       135339.62
                          Tokyo             22.0     1155.00        15602.00
Canada                    Calgary         1977.0    10233.83        43263.00
                          Montreal       15784.0    66378.50       249683.12
                          Ottawa          3949.0    16534.43        42023.29
                          Toronto         9727.0    39971.50       130314.88
                          Vancouver      97957.0   403471.00      1189623.00
Central America/Caribbean Kingston       75945.0   279400.50       732492.25
                          Managua        14311.0    51850.75       145584.25
                          Mexico City    12825.0    46073.50       139522.62
                          San Juan       23817.0    79894.38       254135.62
Eastern Europe            Budapest       16151.0    51316.12       171496.00
                          Moscow         18435.0    80139.43       261097.14
                          Prague         23367.0    79590.12       259301.75
                          Warsaw         28748.0    98339.25       334801.12
Middle East               Al-Khobar      36285.0   144208.38       331083.75
                          Dubai          64433.0   238818.00       629608.88
                          Tel Aviv      106162.0   320946.00       815401.00
Pacific                   Auckland        4528.0    17774.86        66879.14
                          Canberra        5315.0    19443.38       115841.75
                          Jakarta        20790.0    81130.50       255014.88
                          Kuala Lumpur   13285.0    46641.25       170906.00
                          Manila         28962.0   106863.00       339134.50
                          Singapore       4249.0    23290.83        75993.33
South America             Bogota         10093.0    29462.00        60336.43
                          Buenos Aires    5043.0    14785.38        30119.38
                          Caracas        27942.0    98665.38       267423.25
                          La Paz         22564.0    66313.25       139434.88
                          Montevideo     16025.0    39830.75       106129.50
                          Santiago        5197.0    14993.71        33805.57
                          Sao Paulo      15987.0    45854.38       122780.50
United States             Chicago        57523.0   195698.12       541394.38
                          Los Angeles    25312.0    92164.00       278848.75
                          Minneapolis    37073.0   137492.12       436074.50
                          New York       46701.0   186150.88       602121.75
                          Seattle        20893.0    76493.12       214360.25
Western Europe            Copenhagen     24523.0    86639.50       214802.62
                          Geneva         14288.0    55901.00       187498.62
                          Heidelberg     36038.0   120967.38       419542.75
                          Lisbon         30431.0   112293.12       353988.62
                          London         27410.0    95251.12       313351.50
                          Madrid          7334.0    33440.33        70845.50
                          Paris          19324.0    77734.62       183730.75
                          Rome           10407.0    35258.00       129232.25

                                        mean_returns  total_stores
Region                    Subsidiary
Africa                    Addis Ababa        1671.25             8
                          Algiers            1823.29             7
                          Cairo              2809.62             8
                          Johannesburg        792.40             5
                          Khartoum            881.38             8
                          Kinshasa            797.43             7
                          Luanda              618.29             7
                          Nairobi             759.00             6
Asia                      Bangkok             112.80             5
                          Seoul              1288.62             8
                          Tokyo                22.00             1
Canada                    Calgary             329.50             6
                          Montreal           1973.00             8
                          Ottawa              564.14             7
                          Toronto            1215.88             8
                          Vancouver         12244.62             8
Central America/Caribbean Kingston           9493.12             8
                          Managua            1788.88             8
                          Mexico City        1603.12             8
                          San Juan           2977.12             8
Eastern Europe            Budapest           2018.88             8
                          Moscow             2633.57             7
                          Prague             2920.88             8
                          Warsaw             3593.50             8
Middle East               Al-Khobar          4535.62             8
                          Dubai              8054.12             8
                          Tel Aviv          13270.25             8
Pacific                   Auckland            646.86             7
                          Canberra            664.38             8
                          Jakarta            2598.75             8
                          Kuala Lumpur       1660.62             8
                          Manila             3620.25             8
                          Singapore           708.17             6
South America             Bogota             1441.86             7
                          Buenos Aires        630.38             8
                          Caracas            3492.75             8
                          La Paz             2820.50             8
                          Montevideo         2003.12             8
                          Santiago            742.43             7
                          Sao Paulo          1998.38             8
United States             Chicago            7190.38             8
                          Los Angeles        3164.00             8
                          Minneapolis        4634.12             8
                          New York           5837.62             8
                          Seattle            2611.62             8
Western Europe            Copenhagen         3065.38             8
                          Geneva             1786.00             8
                          Heidelberg         4504.75             8
                          Lisbon             3803.88             8
                          London             3426.25             8
                          Madrid             1222.33             6
                          Paris              2415.50             8
                          Rome               1300.88             8

In [12]:
# Calculate the total sales, total returns and total inventory across region
groupby_vars = ["Region"]
retail_aggr = retail_df.groupby(groupby_vars).sum()
retail_aggr["mean_sales"] = retail_df.groupby(groupby_vars).mean().Sales
retail_aggr["mean_inventory"] = retail_df.groupby(groupby_vars).mean().Inventory
retail_aggr["mean_returns"] = retail_df.groupby(groupby_vars).mean().Returns
retail_aggr["total_stores"] = retail_df.groupby(groupby_vars).count().Stores

# Sort the Regional returns in descending order 
by_vars = ["Returns"]
retail_aggr = retail_aggr.sort_values(by = by_vars, ascending = False)
retail_aggr.round(2)

,Stores,Sales,Inventory,Returns,mean_sales,mean_inventory,mean_returns,total_stores
Region,,,,,,,,
Middle East,397,5631779.0,14208749.0,206880.0,234657.46,592031.21,8620.00,24
United States,617,5503986.0,16582397.0,187502.0,137599.65,414559.92,4687.55,40
Western Europe,642,4873000.0,14842250.0,169755.0,78596.77,239391.13,2737.98,62
Canada,442,4255712.0,13110709.0,129394.0,115019.24,354343.49,3497.14,37
Central America/Caribbean,539,3657753.0,10173878.0,126898.0,114304.78,317933.69,3965.56,32
South America,632,2434783.0,5986094.0,102851.0,45088.57,110853.59,1904.65,54
Eastern Europe,379,2394940.0,7952471.0,86701.0,77256.13,256531.32,2796.81,31
Pacific,356,2296794.0,7971291.0,77129.0,51039.87,177139.80,1713.98,45
Africa,532,2342588.0,7101073.0,74087.0,41831.93,126804.88,1322.98,56
Asia,65,460231.0,1176139.0,10895.0,32873.64,84009.93,778.21,14

In [7]:
def util_retail_aggr(in_dfn,analysis_vars,group_vars):
    
    "This function will agreegate the specific measures at given supplied hierarchy"
  
    print("Input Dataframe Name = ", in_dfn.name)
    print("Analysis Variables = ", analysis_vars)
    print("Grouping Variables = ", group_vars)    
    
    global retail_aggr
    
    if str(analysis_vars).upper() == "ALL":        
        retail_aggr = in_dfn.groupby(group_vars).sum()

    else:                    
        for key,value in in_dfn.iteritems():
            if key in analysis_vars:   
                var = [key]
                name = "mean_"+str(key)
                print(name)
                keep_vars = var + group_vars
                _temp_df = in_dfn[keep_vars]
                retail_aggr[name] = _temp_df.groupby(group_vars).mean()           
        
    return retail_aggr

In [129]:
# Specify the Name for Dataframe
retail_df.name = "Retail Dataframe"

# Get the Total/Sum of all the numeric variables across Region and Subsidiary from retail Dataframe
util_retail_aggr(in_dfn = retail_df, analysis_vars = "All", group_vars = ["Region","Subsidiary"])

Input Dataframe Name =  Retail Dataframe
Analysis Variables =  All
Grouping Variables =  ['Region', 'Subsidiary']

                                        Stores      Sales  Inventory   Returns
Region                    Subsidiary
Africa                    Addis Ababa       65   467429.0  1356501.0   13370.0
                          Algiers          101   395600.0  1212116.0   12763.0
                          Cairo             88   738198.0  2245536.0   22477.0
                          Johannesburg      51   113008.0   375534.0    3962.0
                          Khartoum          71   186592.0   588019.0    7051.0
                          Kinshasa          56   196816.0   591284.0    5582.0
                          Luanda            30   138115.0   436277.0    4328.0
                          Nairobi           70   106830.0   295806.0    4554.0
Asia                      Bangkok            5    16667.0    77820.0     564.0
                          Seoul             59   442409.0  1082717.0   10309.0
                          Tokyo              1     1155.0    15602.0      22.0
Canada                    Calgary           29    61403.0   259578.0    1977.0
                          Montreal         115   531028.0  1997465.0   15784.0
                          Ottawa            29   115741.0   294163.0    3949.0
                          Toronto           76   319772.0  1042519.0    9727.0
                          Vancouver        193  3227768.0  9516984.0   97957.0
Central America/Caribbean Kingston         218  2235204.0  5859938.0   75945.0
                          Managua          113   414806.0  1164674.0   14311.0
                          Mexico City      103   368588.0  1116181.0   12825.0
                          San Juan         105   639155.0  2033085.0   23817.0
Eastern Europe            Budapest          85   410529.0  1371968.0   16151.0
                          Moscow            87   560976.0  1827680.0   18435.0
                          Prague            96   636721.0  2074414.0   23367.0
                          Warsaw           111   786714.0  2678409.0   28748.0
Middle East               Al-Khobar        110  1153667.0  2648670.0   36285.0
                          Dubai            153  1910544.0  5036871.0   64433.0
                          Tel Aviv         134  2567568.0  6523208.0  106162.0
Pacific                   Auckland          37   124424.0   468154.0    4528.0
                          Canberra          50   155547.0   926734.0    5315.0
                          Jakarta           84   649044.0  2040119.0   20790.0
                          Kuala Lumpur      64   373130.0  1367248.0   13285.0
                          Manila           103   854904.0  2713076.0   28962.0
                          Singapore         18   139745.0   455960.0    4249.0
South America             Bogota            89   206234.0   422355.0   10093.0
                          Buenos Aires      66   118283.0   240955.0    5043.0
                          Caracas          123   789323.0  2139386.0   27942.0
                          La Paz           116   530506.0  1115479.0   22564.0
                          Montevideo        96   318646.0   849036.0   16025.0
                          Santiago          58   104956.0   236639.0    5197.0
                          Sao Paulo         84   366835.0   982244.0   15987.0
United States             Chicago          150  1565585.0  4331155.0   57523.0
                          Los Angeles       92   737312.0  2230790.0   25312.0
                          Minneapolis      141  1099937.0  3488596.0   37073.0
                          New York         131  1489207.0  4816974.0   46701.0
                          Seattle          103   611945.0  1714882.0   20893.0
Western Europe            Copenhagen        52   693116.0  1718421.0   24523.0
                          Geneva            95   447208.0  1499989.0   14288.0
                          Heidelberg       105   967739.0  3356342.0   36038.0
                          Lisbon            99   898345.0  2831909.0   30431.0
                          London           113   762009.0  2506812.0   27410.0
                          Madrid            17   200642.0   425073.0    7334.0
                          Paris             86   621877.0  1469846.0   19324.0
                          Rome              75   282064.0  1033858.0   10407.0

In [130]:
# Get the Mean of Sales and Returns across Region and Subsidiary from Retail Dataframe
util_retail_aggr(in_dfn = retail_df, analysis_vars = ["Sales","Returns"], group_vars = ["Region","Subsidiary"])
retail_aggr.round(2)

Input Dataframe Name =  Retail Dataframe
Analysis Variables =  ['Sales', 'Returns']
Grouping Variables =  ['Region', 'Subsidiary']
mean_Sales
mean_Returns

                                        Stores      Sales  Inventory  \
Region                    Subsidiary
Africa                    Addis Ababa       65   467429.0  1356501.0
                          Algiers          101   395600.0  1212116.0
                          Cairo             88   738198.0  2245536.0
                          Johannesburg      51   113008.0   375534.0
                          Khartoum          71   186592.0   588019.0
                          Kinshasa          56   196816.0   591284.0
                          Luanda            30   138115.0   436277.0
                          Nairobi           70   106830.0   295806.0
Asia                      Bangkok            5    16667.0    77820.0
                          Seoul             59   442409.0  1082717.0
                          Tokyo              1     1155.0    15602.0
Canada                    Calgary           29    61403.0   259578.0
                          Montreal         115   531028.0  1997465.0
                          Ottawa            29   115741.0   294163.0
                          Toronto           76   319772.0  1042519.0
                          Vancouver        193  3227768.0  9516984.0
Central America/Caribbean Kingston         218  2235204.0  5859938.0
                          Managua          113   414806.0  1164674.0
                          Mexico City      103   368588.0  1116181.0
                          San Juan         105   639155.0  2033085.0
Eastern Europe            Budapest          85   410529.0  1371968.0
                          Moscow            87   560976.0  1827680.0
                          Prague            96   636721.0  2074414.0
                          Warsaw           111   786714.0  2678409.0
Middle East               Al-Khobar        110  1153667.0  2648670.0
                          Dubai            153  1910544.0  5036871.0
                          Tel Aviv         134  2567568.0  6523208.0
Pacific                   Auckland          37   124424.0   468154.0
                          Canberra          50   155547.0   926734.0
                          Jakarta           84   649044.0  2040119.0
                          Kuala Lumpur      64   373130.0  1367248.0
                          Manila           103   854904.0  2713076.0
                          Singapore         18   139745.0   455960.0
South America             Bogota            89   206234.0   422355.0
                          Buenos Aires      66   118283.0   240955.0
                          Caracas          123   789323.0  2139386.0
                          La Paz           116   530506.0  1115479.0
                          Montevideo        96   318646.0   849036.0
                          Santiago          58   104956.0   236639.0
                          Sao Paulo         84   366835.0   982244.0
United States             Chicago          150  1565585.0  4331155.0
                          Los Angeles       92   737312.0  2230790.0
                          Minneapolis      141  1099937.0  3488596.0
                          New York         131  1489207.0  4816974.0
                          Seattle          103   611945.0  1714882.0
Western Europe            Copenhagen        52   693116.0  1718421.0
                          Geneva            95   447208.0  1499989.0
                          Heidelberg       105   967739.0  3356342.0
                          Lisbon            99   898345.0  2831909.0
                          London           113   762009.0  2506812.0
                          Madrid            17   200642.0   425073.0
                          Paris             86   621877.0  1469846.0
                          Rome              75   282064.0  1033858.0

                                         Returns  mean_Sales  mean_Returns
Region                    Subsidiary
Africa                    Addis Ababa    13370.0    58428.62       1671.25
                          Algiers        12763.0    56514.29       1823.29
                          Cairo          22477.0    92274.75       2809.62
                          Johannesburg    3962.0    22601.60        792.40
                          Khartoum        7051.0    23324.00        881.38
                          Kinshasa        5582.0    28116.57        797.43
                          Luanda          4328.0    19730.71        618.29
                          Nairobi         4554.0    17805.00        759.00
Asia                      Bangkok          564.0     3333.40        112.80
                          Seoul          10309.0    55301.12       1288.62
                          Tokyo             22.0     1155.00         22.00
Canada                    Calgary         1977.0    10233.83        329.50
                          Montreal       15784.0    66378.50       1973.00
                          Ottawa          3949.0    16534.43        564.14
                          Toronto         9727.0    39971.50       1215.88
                          Vancouver      97957.0   403471.00      12244.62
Central America/Caribbean Kingston       75945.0   279400.50       9493.12
                          Managua        14311.0    51850.75       1788.88
                          Mexico City    12825.0    46073.50       1603.12
                          San Juan       23817.0    79894.38       2977.12
Eastern Europe            Budapest       16151.0    51316.12       2018.88
                          Moscow         18435.0    80139.43       2633.57
                          Prague         23367.0    79590.12       2920.88
                          Warsaw         28748.0    98339.25       3593.50
Middle East               Al-Khobar      36285.0   144208.38       4535.62
                          Dubai          64433.0   238818.00       8054.12
                          Tel Aviv      106162.0   320946.00      13270.25
Pacific                   Auckland        4528.0    17774.86        646.86
                          Canberra        5315.0    19443.38        664.38
                          Jakarta        20790.0    81130.50       2598.75
                          Kuala Lumpur   13285.0    46641.25       1660.62
                          Manila         28962.0   106863.00       3620.25
                          Singapore       4249.0    23290.83        708.17
South America             Bogota         10093.0    29462.00       1441.86
                          Buenos Aires    5043.0    14785.38        630.38
                          Caracas        27942.0    98665.38       3492.75
                          La Paz         22564.0    66313.25       2820.50
                          Montevideo     16025.0    39830.75       2003.12
                          Santiago        5197.0    14993.71        742.43
                          Sao Paulo      15987.0    45854.38       1998.38
United States             Chicago        57523.0   195698.12       7190.38
                          Los Angeles    25312.0    92164.00       3164.00
                          Minneapolis    37073.0   137492.12       4634.12
                          New York       46701.0   186150.88       5837.62
                          Seattle        20893.0    76493.12       2611.62
Western Europe            Copenhagen     24523.0    86639.50       3065.38
                          Geneva         14288.0    55901.00       1786.00
                          Heidelberg     36038.0   120967.38       4504.75
                          Lisbon         30431.0   112293.12       3803.88
                          London         27410.0    95251.12       3426.25
                          Madrid          7334.0    33440.33       1222.33
                          Paris          19324.0    77734.62       2415.50
                          Rome           10407.0    35258.00       1300.88

In [131]:
# Get the Total/Sum of all the numeric variables across Region from retail Dataframe
util_retail_aggr(in_dfn = retail_df, analysis_vars = "All", group_vars = ["Region"])

Input Dataframe Name =  Retail Dataframe
Analysis Variables =  All
Grouping Variables =  ['Region']

                           Stores      Sales   Inventory   Returns
Region
Africa                        532  2342588.0   7101073.0   74087.0
Asia                           65   460231.0   1176139.0   10895.0
Canada                        442  4255712.0  13110709.0  129394.0
Central America/Caribbean     539  3657753.0  10173878.0  126898.0
Eastern Europe                379  2394940.0   7952471.0   86701.0
Middle East                   397  5631779.0  14208749.0  206880.0
Pacific                       356  2296794.0   7971291.0   77129.0
South America                 632  2434783.0   5986094.0  102851.0
United States                 617  5503986.0  16582397.0  187502.0
Western Europe                642  4873000.0  14842250.0  169755.0

In [132]:
# Get the Mean of Sales and Returns across Region and Subsidiary from Retail Dataframe
util_retail_aggr(in_dfn = retail_df, analysis_vars = ["Sales","Returns"], group_vars = ["Region"])
retail_aggr.round(2)

Input Dataframe Name =  Retail Dataframe
Analysis Variables =  ['Sales', 'Returns']
Grouping Variables =  ['Region']
mean_Sales
mean_Returns

,Stores,Sales,Inventory,Returns,mean_Sales,mean_Returns
Region,,,,,,
Africa,532,2342588.0,7101073.0,74087.0,41831.93,1322.98
Asia,65,460231.0,1176139.0,10895.0,32873.64,778.21
Canada,442,4255712.0,13110709.0,129394.0,115019.24,3497.14
Central America/Caribbean,539,3657753.0,10173878.0,126898.0,114304.78,3965.56
Eastern Europe,379,2394940.0,7952471.0,86701.0,77256.13,2796.81
Middle East,397,5631779.0,14208749.0,206880.0,234657.46,8620.00
Pacific,356,2296794.0,7971291.0,77129.0,51039.87,1713.98
South America,632,2434783.0,5986094.0,102851.0,45088.57,1904.65
United States,617,5503986.0,16582397.0,187502.0,137599.65,4687.55
Western Europe,642,4873000.0,14842250.0,169755.0,78596.77,2737.98

In [15]:
# Get the first 20 Products in terms of their returns
by_vars = ["Returns"]
top_20_prod = retail_df.sort_values(by = by_vars, ascending = False).reset_index(drop = True)
top_20_prod = top_20_prod[:20]

# Calculate the discount for top 20 products
# > 50,000 - 0.5
# Between 15,000 to 50,000 - 0.3
# Between 10,000 to 15,000 - 0.2
top_20_prod["Discount"] = np.where(top_20_prod[by_vars] >= 50000, 0.5,
                                  (np.where(top_20_prod[by_vars] >= 15000, 0.3, 0.2)))

# top_20_prod["Discount"] = pd.cut(top_20_prod.Returns, [10000, 15000, 50000, np.inf], labels=[0.2,0.3,0.5])
# top_20_prod

# Calculate the Sales after discount
top_20_prod["Sales_after_discount"] = top_20_prod.Sales * top_20_prod.Discount
top_20_prod

,Region,Product,Subsidiary,Stores,Sales,Inventory,Returns,Discount,Sales_after_discount
0,Middle East,Men's Casual,Tel Aviv,11,1298717.0,2881005.0,57362.0,0.5,649358.5
1,Canada,Slipper,Vancouver,27,700513.0,2520085.0,21247.0,0.3,210153.9
2,Canada,Men's Casual,Vancouver,25,353361.0,671837.0,20470.0,0.3,106008.3
3,Central America/Caribbean,Men's Casual,Kingston,28,576112.0,1159556.0,20005.0,0.3,172833.6
4,Canada,Women's Dress,Vancouver,21,756347.0,2503387.0,19378.0,0.3,226904.1
5,United States,Men's Casual,Chicago,26,408978.0,831672.0,17907.0,0.3,122693.4
6,Middle East,Men's Casual,Dubai,29,419336.0,868115.0,17552.0,0.3,125800.8
7,Western Europe,Women's Casual,Copenhagen,26,502636.0,1110412.0,17448.0,0.3,150790.8
8,Middle East,Women's Dress,Tel Aviv,18,434496.0,1272531.0,17394.0,0.3,130348.8
9,Canada,Men's Dress,Vancouver,28,757798.0,1847559.0,16833.0,0.3,227339.4
10,Central America/Caribbean,Slipper,Kingston,37,476638.0,1555357.0,15713.0,0.3,142991.4
11,United States,Men's Casual,New York,20,456985.0,890096.0,13453.0,0.2,91397.0
12,Middle East,Men's Casual,Al-Khobar,24,340201.0,616745.0,13251.0,0.2,68040.2
13,Middle East,Women's Dress,Dubai,19,435891.0,1292400.0,12999.0,0.2,87178.2
14,Middle East,Slipper,Dubai,17,387680.0,1238698.0,12768.0,0.2,77536.0
15,Western Europe,Men's Casual,Lisbon,18,311341.0,502959.0,12247.0,0.2,62268.2
16,Middle East,Women's Casual,Tel Aviv,19,288904.0,790386.0,12000.0,0.2,57780.8
17,Central America/Caribbean,Women's Dress,Kingston,41,375817.0,1147300.0,11656.0,0.2,75163.4
18,Pacific,Men's Casual,Jakarta,12,373908.0,1139026.0,10960.0,0.2,74781.6
19,United States,Slipper,Chicago,13,329235.0,1049530.0,10654.0,0.2,65847.0

In [18]:
# Merge the Top 20 Product adjusted sales (discounted sales) with original Retail dataframe
retail_df2 = retail_df.merge(top_20_prod, how = "left").fillna(0)
retail_df2["Sales_after_discount"] = np.where(retail_df2.Discount == 0, retail_df2.Sales, retail_df2.Sales_after_discount)
retail_df2 = retail_df2.sort_values(by = ["Returns"], ascending = False)
retail_df2

,Region,Product,Subsidiary,Stores,Sales,Inventory,Returns,Discount,Sales_after_discount
187,Middle East,Men's Casual,Tel Aviv,11,1298717.0,2881005.0,57362.0,0.5,649358.5
103,Canada,Slipper,Vancouver,27,700513.0,2520085.0,21247.0,0.3,210153.9
100,Canada,Men's Casual,Vancouver,25,353361.0,671837.0,20470.0,0.3,106008.3
108,Central America/Caribbean,Men's Casual,Kingston,28,576112.0,1159556.0,20005.0,0.3,172833.6
106,Canada,Women's Dress,Vancouver,21,756347.0,2503387.0,19378.0,0.3,226904.1
294,United States,Men's Casual,Chicago,26,408978.0,831672.0,17907.0,0.3,122693.4
179,Middle East,Men's Casual,Dubai,29,419336.0,868115.0,17552.0,0.3,125800.8
339,Western Europe,Women's Casual,Copenhagen,26,502636.0,1110412.0,17448.0,0.3,150790.8
193,Middle East,Women's Dress,Tel Aviv,18,434496.0,1272531.0,17394.0,0.3,130348.8
101,Canada,Men's Dress,Vancouver,28,757798.0,1847559.0,16833.0,0.3,227339.4
111,Central America/Caribbean,Slipper,Kingston,37,476638.0,1555357.0,15713.0,0.3,142991.4
318,United States,Men's Casual,New York,20,456985.0,890096.0,13453.0,0.2,91397.0
171,Middle East,Men's Casual,Al-Khobar,24,340201.0,616745.0,13251.0,0.2,68040.2
185,Middle East,Women's Dress,Dubai,19,435891.0,1292400.0,12999.0,0.2,87178.2
182,Middle East,Slipper,Dubai,17,387680.0,1238698.0,12768.0,0.2,77536.0
358,Western Europe,Men's Casual,Lisbon,18,311341.0,502959.0,12247.0,0.2,62268.2
192,Middle East,Women's Casual,Tel Aviv,19,288904.0,790386.0,12000.0,0.2,57780.8
114,Central America/Caribbean,Women's Dress,Kingston,41,375817.0,1147300.0,11656.0,0.2,75163.4
210,Pacific,Men's Casual,Jakarta,12,373908.0,1139026.0,10960.0,0.2,74781.6
297,United States,Slipper,Chicago,13,329235.0,1049530.0,10654.0,0.2,65847.0
324,United States,Women's Dress,New York,17,288972.0,1129697.0,10257.0,0.0,288972.0
300,United States,Women's Dress,Chicago,37,293313.0,754157.0,10194.0,0.0,293313.0
21,Africa,Women's Casual,Cairo,14,328474.0,940851.0,10124.0,0.0,328474.0
310,United States,Men's Casual,Minneapolis,16,263712.0,564741.0,9991.0,0.0,263712.0
350,Western Europe,Men's Casual,Heidelberg,12,175694.0,595118.0,9845.0,0.0,175694.0
16,Africa,Men's Casual,Cairo,25,360209.0,1063251.0,9424.0,0.0,360209.0
163,Eastern Europe,Men's Casual,Warsaw,15,304093.0,729044.0,9364.0,0.0,304093.0
99,Canada,Boot,Vancouver,31,286497.0,882080.0,9160.0,0.0,286497.0
295,United States,Men's Dress,Chicago,28,261607.0,824485.0,8915.0,0.0,261607.0
188,Middle East,Men's Dress,Tel Aviv,24,253814.0,631479.0,8727.0,0.0,253814.0
...,...,...,...,...,...,...,...,...,...
5,Africa,Sport Shoe,Addis Ababa,4,1690.0,16634.0,79.0,0.0,1690.0
136,Central America/Caribbean,Sport Shoe,San Juan,4,936.0,4546.0,74.0,0.0,936.0
183,Middle East,Sport Shoe,Dubai,5,1487.0,11432.0,70.0,0.0,1487.0
360,Western Europe,Sandal,Lisbon,4,1650.0,24253.0,64.0,0.0,1650.0
352,Western Europe,Sandal,Heidelberg,3,977.0,4618.0,62.0,0.0,977.0
173,Middle East,Sandal,Al-Khobar,2,1380.0,13343.0,62.0,0.0,1380.0
382,Western Europe,Sandal,Paris,3,1520.0,23816.0,60.0,0.0,1520.0
128,Central America/Caribbean,Sport Shoe,Mexico City,3,2196.0,23183.0,59.0,0.0,2196.0
165,Eastern Europe,Sandal,Warsaw,3,1190.0,960.0,57.0,0.0,1190.0
57,Asia,Men's Dress,Bangkok,1,3033.0,20831.0,52.0,0.0,3033.0
344,Western Europe,Sandal,Geneva,3,736.0,3529.0,51.0,0.0,736.0
390,Western Europe,Sandal,Rome,3,1249.0,4611.0,48.0,0.0,1249.0
157,Eastern Europe,Sandal,Prague,2,712.0,3384.0,48.0,0.0,712.0
191,Middle East,Sport Shoe,Tel Aviv,4,2071.0,15121.0,47.0,0.0,2071.0
20,Africa,Sport Shoe,Cairo,3,2259.0,20815.0,44.0,0.0,2259.0
175,Middle East,Sport Shoe,Al-Khobar,2,449.0,1836.0,43.0,0.0,449.0
222,Pacific,Sport Shoe,Kuala Lumpur,2,450.0,8136.0,42.0,0.0,450.0
94,Canada,Sandal,Toronto,2,1190.0,6763.0,38.0,0.0,1190.0
304,United States,Sandal,Los Angeles,2,737.0,20838.0,38.0,0.0,737.0
236,Pacific,Sandal,Singapore,1,2177.0,5897.0,35.0,0.0,2177.0
296,United States,Sandal,Chicago,2,601.0,17121.0,35.0,0.0,601.0
337,Western Europe,Sport Shoe,Copenhagen,1,1927.0,17683.0,31.0,0.0,1927.0
48,Africa,Sport Shoe,Luanda,2,801.0,3247.0,29.0,0.0,801.0
86,Canada,Sandal,Ottawa,2,2600.0,1727.0,27.0,0.0,2600.0
368,Western Europe,Sandal,London,2,5217.0,11111.0,24.0,0.0,5217.0
320,United States,Sandal,New York,1,554.0,5060.0,23.0,0.0,554.0
69,Asia,Sport Shoe,Tokyo,1,1155.0,15602.0,22.0,0.0,1155.0
204,Pacific,Sandal,Canberra,1,1093.0,8711.0,21.0,0.0,1093.0
196,Pacific,Sandal,Auckland,1,325.0,23897.0,10.0,0.0,325.0
66,Asia,Sport Shoe,Seoul,1,937.0,455.0,10.0,0.0,937.0

In [ ]:
left:
    
retail_df:
    
product sales
A 100
B 200
C 300
D 400
E 500

right:
    
top_20_prod:
    
product adjusted_sales
A 50
B 100
C 150

output:

product sales adjusted_sales
A 100 50
B 200 100
C 300 150
D 400 0
E 500 0

In [4]:
# Read the Retail India dataset with header information
infile = "C:\\Users\\SONY\\Pandas Project\\Retail_India.csv"
retail_india_df = pd.read_csv(infile, delimiter = ",")
retail_india_df

  Region         Product Subsidiary  Stores  Sales  Inventory  Returns
0   Asia            Boot      India       1   1996       9576       80
1   Asia     Men's Dress      India       1   3033      20831       52
2   Asia          Sandal      India       1   3230      15087      120
3   Asia         Slipper      India       1   3019      16075      127
4   Asia  Women's Casual      India       1   5389      16251      185

In [6]:
# Append the Retail India Products to main dataframe
retail_df = retail_df.append(retail_india_df).reset_index(drop = True)
retail_df

,Region,Product,Subsidiary,Stores,Sales,Inventory,Returns
0,Africa,Boot,Addis Ababa,12,29761.0,191821.0,769.0
1,Africa,Men's Casual,Addis Ababa,4,67242.0,118036.0,2284.0
2,Africa,Men's Dress,Addis Ababa,7,76793.0,136273.0,2433.0
3,Africa,Sandal,Addis Ababa,10,62819.0,204284.0,1861.0
4,Africa,Slipper,Addis Ababa,14,68641.0,279795.0,1771.0
5,Africa,Sport Shoe,Addis Ababa,4,1690.0,16634.0,79.0
6,Africa,Women's Casual,Addis Ababa,2,51541.0,98641.0,940.0
7,Africa,Women's Dress,Addis Ababa,12,108942.0,311017.0,3233.0
8,Africa,Boot,Algiers,21,21297.0,73737.0,710.0
9,Africa,Men's Casual,Algiers,4,63206.0,100982.0,2221.0
10,Africa,Men's Dress,Algiers,13,123743.0,428575.0,3621.0
11,Africa,Sandal,Algiers,25,29198.0,84447.0,1530.0
12,Africa,Slipper,Algiers,17,64891.0,248198.0,1823.0
13,Africa,Sport Shoe,Algiers,9,2617.0,9372.0,168.0
14,Africa,Women's Dress,Algiers,12,90648.0,266805.0,2690.0
15,Africa,Boot,Cairo,20,4846.0,18965.0,229.0
16,Africa,Men's Casual,Cairo,25,360209.0,1063251.0,9424.0
17,Africa,Men's Dress,Cairo,5,4051.0,45962.0,97.0
18,Africa,Sandal,Cairo,9,10532.0,50430.0,598.0
19,Africa,Slipper,Cairo,9,13732.0,54117.0,1216.0
20,Africa,Sport Shoe,Cairo,3,2259.0,20815.0,44.0
21,Africa,Women's Casual,Cairo,14,328474.0,940851.0,10124.0
22,Africa,Women's Dress,Cairo,3,14095.0,51145.0,745.0
23,Africa,Boot,Johannesburg,14,8365.0,33011.0,483.0
24,Africa,Sandal,Johannesburg,13,17337.0,63003.0,809.0
25,Africa,Slipper,Johannesburg,12,39452.0,130025.0,1565.0
26,Africa,Sport Shoe,Johannesburg,8,5172.0,29368.0,139.0
27,Africa,Women's Dress,Johannesburg,4,42682.0,120127.0,966.0
28,Africa,Boot,Khartoum,24,19282.0,105370.0,700.0
29,Africa,Men's Casual,Khartoum,1,9244.0,16230.0,478.0
...,...,...,...,...,...,...,...
370,Western Europe,Sport Shoe,London,10,9165.0,42239.0,354.0
371,Western Europe,Women's Casual,London,5,68962.0,162447.0,1978.0
372,Western Europe,Women's Dress,London,25,149354.0,527226.0,5084.0
373,Western Europe,Boot,Madrid,1,1179.0,1027.0,93.0
374,Western Europe,Men's Casual,Madrid,4,71014.0,59011.0,3784.0
375,Western Europe,Men's Dress,Madrid,4,54791.0,181739.0,1468.0
376,Western Europe,Slipper,Madrid,4,12127.0,10234.0,500.0
377,Western Europe,Women's Casual,Madrid,3,50146.0,113870.0,1216.0
378,Western Europe,Women's Dress,Madrid,1,11385.0,59192.0,273.0
379,Western Europe,Boot,Paris,15,19196.0,41506.0,1006.0
380,Western Europe,Men's Casual,Paris,5,89416.0,156288.0,3863.0
381,Western Europe,Men's Dress,Paris,16,203532.0,421109.0,5722.0
382,Western Europe,Sandal,Paris,3,1520.0,23816.0,60.0
383,Western Europe,Slipper,Paris,19,90975.0,251927.0,2372.0
384,Western Europe,Sport Shoe,Paris,4,3449.0,28588.0,186.0
385,Western Europe,Women's Casual,Paris,5,91243.0,184365.0,2388.0
386,Western Europe,Women's Dress,Paris,19,122546.0,362247.0,3727.0
387,Western Europe,Boot,Rome,23,36244.0,209271.0,1455.0
388,Western Europe,Men's Casual,Rome,2,37271.0,91670.0,1761.0
389,Western Europe,Men's Dress,Rome,2,28249.0,69058.0,651.0
390,Western Europe,Sandal,Rome,3,1249.0,4611.0,48.0
391,Western Europe,Slipper,Rome,13,42442.0,132283.0,1829.0
392,Western Europe,Sport Shoe,Rome,14,9969.0,74848.0,549.0
393,Western Europe,Women's Casual,Rome,2,19964.0,62256.0,954.0
394,Western Europe,Women's Dress,Rome,16,106676.0,389861.0,3160.0
395,Asia,Boot,India,1,1996.0,9576.0,80.0
396,Asia,Men's Dress,India,1,3033.0,20831.0,52.0
397,Asia,Sandal,India,1,3230.0,15087.0,120.0
398,Asia,Slipper,India,1,3019.0,16075.0,127.0
399,Asia,Women's Casual,India,1,5389.0,16251.0,185.0

In [8]:
# Specify the Name for Dataframe
retail_df.name = "Retail Dataframe"

# Get the Total/Sum of all the numeric variables across Region and Subsidiary from retail Dataframe
util_retail_aggr(in_dfn = retail_df, analysis_vars = "All", group_vars = ["Region","Subsidiary"])

Input Dataframe Name =  Retail Dataframe
Analysis Variables =  All
Grouping Variables =  ['Region', 'Subsidiary']

                                        Stores      Sales  Inventory   Returns
Region                    Subsidiary
Africa                    Addis Ababa       65   467429.0  1356501.0   13370.0
                          Algiers          101   395600.0  1212116.0   12763.0
                          Cairo             88   738198.0  2245536.0   22477.0
                          Johannesburg      51   113008.0   375534.0    3962.0
                          Khartoum          71   186592.0   588019.0    7051.0
                          Kinshasa          56   196816.0   591284.0    5582.0
                          Luanda            30   138115.0   436277.0    4328.0
                          Nairobi           70   106830.0   295806.0    4554.0
Asia                      Bangkok            5    16667.0    77820.0     564.0
                          India              5    16667.0    77820.0     564.0
                          Seoul             59   442409.0  1082717.0   10309.0
                          Tokyo              1     1155.0    15602.0      22.0
Canada                    Calgary           29    61403.0   259578.0    1977.0
                          Montreal         115   531028.0  1997465.0   15784.0
                          Ottawa            29   115741.0   294163.0    3949.0
                          Toronto           76   319772.0  1042519.0    9727.0
                          Vancouver        193  3227768.0  9516984.0   97957.0
Central America/Caribbean Kingston         218  2235204.0  5859938.0   75945.0
                          Managua          113   414806.0  1164674.0   14311.0
                          Mexico City      103   368588.0  1116181.0   12825.0
                          San Juan         105   639155.0  2033085.0   23817.0
Eastern Europe            Budapest          85   410529.0  1371968.0   16151.0
                          Moscow            87   560976.0  1827680.0   18435.0
                          Prague            96   636721.0  2074414.0   23367.0
                          Warsaw           111   786714.0  2678409.0   28748.0
Middle East               Al-Khobar        110  1153667.0  2648670.0   36285.0
                          Dubai            153  1910544.0  5036871.0   64433.0
                          Tel Aviv         134  2567568.0  6523208.0  106162.0
Pacific                   Auckland          37   124424.0   468154.0    4528.0
                          Canberra          50   155547.0   926734.0    5315.0
                          Jakarta           84   649044.0  2040119.0   20790.0
                          Kuala Lumpur      64   373130.0  1367248.0   13285.0
                          Manila           103   854904.0  2713076.0   28962.0
                          Singapore         18   139745.0   455960.0    4249.0
South America             Bogota            89   206234.0   422355.0   10093.0
                          Buenos Aires      66   118283.0   240955.0    5043.0
                          Caracas          123   789323.0  2139386.0   27942.0
                          La Paz           116   530506.0  1115479.0   22564.0
                          Montevideo        96   318646.0   849036.0   16025.0
                          Santiago          58   104956.0   236639.0    5197.0
                          Sao Paulo         84   366835.0   982244.0   15987.0
United States             Chicago          150  1565585.0  4331155.0   57523.0
                          Los Angeles       92   737312.0  2230790.0   25312.0
                          Minneapolis      141  1099937.0  3488596.0   37073.0
                          New York         131  1489207.0  4816974.0   46701.0
                          Seattle          103   611945.0  1714882.0   20893.0
Western Europe            Copenhagen        52   693116.0  1718421.0   24523.0
                          Geneva            95   447208.0  1499989.0   14288.0
                          Heidelberg       105   967739.0  3356342.0   36038.0
                          Lisbon            99   898345.0  2831909.0   30431.0
                          London           113   762009.0  2506812.0   27410.0
                          Madrid            17   200642.0   425073.0    7334.0
                          Paris             86   621877.0  1469846.0   19324.0
                          Rome              75   282064.0  1033858.0   10407.0